<div class="info-box">
    <header>
        <h2>{$presenter->translate('gameManagement.prayers.text')}</h2>
    </header>
    <table class="hover-allow mx-auto">
        <thead class="camel-case">
        <tr>
            <th class="sub">{$presenter->translate('gameManagement.monsters.displayName')}</th>
            <th class="sub">{$presenter->translate('game.level')}</th>
            <th class="sub"></th>
        </tr>
        </thead>
        <tbody>
        {for $i = 0; $i < count($daos); $i++}
            {php $dao = $daos[$i]}
            <tr>
                <td>{$dao->displayName}</td>
                <td>{$dao->levelReq}</td>
                <td>
                    {$buttonGroup[$i]->render()}
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
</div>
