@charset "UTF-8";
/**general style, v. 0.0.1*/
@import url("bootstrapFix.css");
@import url("navbar.min.css");
b {
  color: #ffd997;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d0f10;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
}

pre {
  color: #fff;
}

textarea {
  resize: both;
}

a:not(.btn-dark) {
  color: #ff2423;
  transition: color linear 0.3s;
}
a:not(.btn-dark):visited {
  color: #ff2423;
}
a:not(.btn-dark):hover {
  color: #a10909;
}

a.noMarkup {
  text-decoration: underline;
  cursor: pointer;
}

.link-inactive {
  color: #787878;
}
.link-inactive.-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

div.text-headline,
h1.text-headline,
h2.text-headline,
h3.text-headline,
h4.text-headline,
h5.text-headline,
h6.text-headline {
  border-bottom: 1px solid;
  border-bottom-color: #5e4f45;
}

div.text-headline {
  margin-bottom: 21px;
  margin-top: 35px;
}

h1.mx-auto,
h2.mx-auto,
h3.mx-auto,
h4.mx-auto,
h5.mx-auto,
h6.mx-auto {
  display: table;
}

label {
  text-align: left;
  display: block;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8;
}

input.error-required {
  border: 1px solid #DA222E !important;
}

body .page-container {
  width: 100%;
}

body .page-container-inner,
body .window {
  /*border: 2px solid #734e32;*/
  /*border-radius: 6px;*/
  /*background: #0f0f0f;*/
}

body .page-container-inner {
  /*background: #0e0e0e;*/
  /*box-shadow: 0 0.1875rem 0.1875rem 0 #000000, inset 0 0.0625rem 0.0625rem 0 rgba(164, 164, 164, 0.8);*/
  padding: 1.3rem 3.25rem 0;
  position: relative;
  margin: 1.25rem auto;
  transition: width 0.25s;
  color: #e1e1e1;
  /*margin: 1.25rem 30px;*/
  padding-bottom: 1rem;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fontin-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e0be4e;
}

ul.styled li {
  list-style-type: disc;
}

div.page-container {
  color: #a38d6d;
}

.form-error {
  color: #DA222E;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none !important;
}

.hidden-opacity {
  /**push it away from screen completely*/
  left: -3000px !important;
  opacity: 0 !important;
}

.rank-icon {
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 7px black;
  transition: box-shadow 0.5s, background 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}
.rank-icon:hover {
  opacity: 0.985;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.85);
}
.rank-icon.small {
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px 7px black;
  transition: box-shadow 0.5s, background 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}

/** horizontal div centering */
.centre-vertical-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.centre-vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.centre-vertical-inner {
  margin-left: auto;
  margin-right: auto;
}

/************************************/
/* ALISES AND UTILS */
/************************************/
/*.navbar-brand-img {
  opacity: 0;
}*/
/** utilities **/
.o-hidden {
  overflow: hidden;
}

.centerAbs.-horiz,
.centerAbs.-horizontal {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.centerAbs.-vert,
.centerAbs.-vertical {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.centerAbs.-vert.-horiz,
.centerAbs.-vert.-horizontal,
.centerAbs.-vertical.-horiz,
.centerAbs.-vertical.-horizontal {
  transform: translate(-50%, -50%) !important;
}

.rarrow:before {
  color: #9494ff;
  content: "→";
}

.box {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  border-radius: 0.2rem;
  border: 1px solid gray;
}
.box.-white {
  color: #090000;
  background-color: #d7d7d7;
  font-weight: bold;
  border: none !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.camel-case,
.camel-case * {
  text-transform: capitalize;
}

.camel-case-first *:first-letter {
  text-transform: capitalize;
}

.w-1-percent {
  width: 1%;
}

.w-2-percent {
  width: 2%;
}

.w-3-percent {
  width: 3%;
}

.w-4-percent {
  width: 4%;
}

.w-5-percent {
  width: 5%;
}

.w-6-percent {
  width: 6%;
}

.w-7-percent {
  width: 7%;
}

.w-8-percent {
  width: 8%;
}

.w-9-percent {
  width: 9%;
}

.w-10-percent {
  width: 10%;
}

.w-11-percent {
  width: 11%;
}

.w-12-percent {
  width: 12%;
}

.w-13-percent {
  width: 13%;
}

.w-14-percent {
  width: 14%;
}

.w-15-percent {
  width: 15%;
}

.w-16-percent {
  width: 16%;
}

.w-17-percent {
  width: 17%;
}

.w-18-percent {
  width: 18%;
}

.w-19-percent {
  width: 19%;
}

.w-20-percent {
  width: 20%;
}

.w-21-percent {
  width: 21%;
}

.w-22-percent {
  width: 22%;
}

.w-23-percent {
  width: 23%;
}

.w-24-percent {
  width: 24%;
}

.w-25-percent {
  width: 25%;
}

.w-26-percent {
  width: 26%;
}

.w-27-percent {
  width: 27%;
}

.w-28-percent {
  width: 28%;
}

.w-29-percent {
  width: 29%;
}

.w-30-percent {
  width: 30%;
}

.w-31-percent {
  width: 31%;
}

.w-32-percent {
  width: 32%;
}

.w-33-percent {
  width: 33%;
}

.w-34-percent {
  width: 34%;
}

.w-35-percent {
  width: 35%;
}

.w-36-percent {
  width: 36%;
}

.w-37-percent {
  width: 37%;
}

.w-38-percent {
  width: 38%;
}

.w-39-percent {
  width: 39%;
}

.w-40-percent {
  width: 40%;
}

.w-41-percent {
  width: 41%;
}

.w-42-percent {
  width: 42%;
}

.w-43-percent {
  width: 43%;
}

.w-44-percent {
  width: 44%;
}

.w-45-percent {
  width: 45%;
}

.w-46-percent {
  width: 46%;
}

.w-47-percent {
  width: 47%;
}

.w-48-percent {
  width: 48%;
}

.w-49-percent {
  width: 49%;
}

.w-50-percent {
  width: 50%;
}

.w-51-percent {
  width: 51%;
}

.w-52-percent {
  width: 52%;
}

.w-53-percent {
  width: 53%;
}

.w-54-percent {
  width: 54%;
}

.w-55-percent {
  width: 55%;
}

.w-56-percent {
  width: 56%;
}

.w-57-percent {
  width: 57%;
}

.w-58-percent {
  width: 58%;
}

.w-59-percent {
  width: 59%;
}

.w-60-percent {
  width: 60%;
}

.w-61-percent {
  width: 61%;
}

.w-62-percent {
  width: 62%;
}

.w-63-percent {
  width: 63%;
}

.w-64-percent {
  width: 64%;
}

.w-65-percent {
  width: 65%;
}

.w-66-percent {
  width: 66%;
}

.w-67-percent {
  width: 67%;
}

.w-68-percent {
  width: 68%;
}

.w-69-percent {
  width: 69%;
}

.w-70-percent {
  width: 70%;
}

.w-71-percent {
  width: 71%;
}

.w-72-percent {
  width: 72%;
}

.w-73-percent {
  width: 73%;
}

.w-74-percent {
  width: 74%;
}

.w-75-percent {
  width: 75%;
}

.w-76-percent {
  width: 76%;
}

.w-77-percent {
  width: 77%;
}

.w-78-percent {
  width: 78%;
}

.w-79-percent {
  width: 79%;
}

.w-80-percent {
  width: 80%;
}

.w-81-percent {
  width: 81%;
}

.w-82-percent {
  width: 82%;
}

.w-83-percent {
  width: 83%;
}

.w-84-percent {
  width: 84%;
}

.w-85-percent {
  width: 85%;
}

.w-86-percent {
  width: 86%;
}

.w-87-percent {
  width: 87%;
}

.w-88-percent {
  width: 88%;
}

.w-89-percent {
  width: 89%;
}

.w-90-percent {
  width: 90%;
}

.w-91-percent {
  width: 91%;
}

.w-92-percent {
  width: 92%;
}

.w-93-percent {
  width: 93%;
}

.w-94-percent {
  width: 94%;
}

.w-95-percent {
  width: 95%;
}

.w-96-percent {
  width: 96%;
}

.w-97-percent {
  width: 97%;
}

.w-98-percent {
  width: 98%;
}

.w-99-percent {
  width: 99%;
}

.w-100-percent {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

/************************************/
/* END OF ALISES */
/************************************/
.carousel-wrap {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}

.carousel img {
  box-shadow: 2px 2px 9px black;
}

/*icon sizing and styles*/
.imageIcon {
  width: 50px;
  height: 50px;
}
.imageIcon.-l {
  width: 75px;
  height: 75px;
}
.imageIcon.-s {
  width: 25px;
  height: 25px;
}

ul {
  list-style: none;
}

abbr[title] {
  cursor: help;
  text-decoration: underline white dotted !important;
}

.text-oveflow {
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}

.orange {
  color: #f68b1f !important;
}

.red {
  color: red !important;
}

/*# sourceMappingURL=style.css.map */
