{* This is the welcome page, you can delete it *}

{block content}
<p>This project already contains:
	<ul class="styled">
		<li class="styled">link to example <a n:href=":Example:Home:">module</a></li>
		<li class="styled">Commonly used directory structures</li>
		<li class="styled">Bootstrap</li>
		<li class="styled">Written .css style from other my projects</li>
		<li class="styled">Language selection and translation (kdyby translator)</li>
		<li class="styled">Prepared database (you need to change credentials to valid ones)</li>
		<li class="styled">Config.local.json is commented out in bootstrap.php</li>
		<li class="styled">Nav bar with links (just change the link desctinations), and clickable home logo</li>
		<li class="styled">Login authenticator (just use $user->login() and other functions... )</li>
		<li class="styled">ACL for users (in AuthorizatorFactory)</li>
		<li class="styled">Example how ACL can be used (in <b>ExampleModule:startup()</b>)</li>
		<li class="styled">Footer (always dislayed at the bottom)</li>
		<li class="styled">Example <a n:href=":Example:Home:">module</a></li>
		<li class="styled">Custom filters added to BasePresenter</li>
	</ul>

	<p>Example of filter <b>msToReadable</b>: {1548|msToReadable}<br>

<br>
<h2>If you want to make translations work</h2>
<p>Add the following code to config/*.neon file:</p>

<pre>
	<code>
	translation:
		default: en
		whitelist: [en, es]
		fallback: [en, es]
		database:
			loader: nettedb
			table: dol_translation
			columns:
				id: id
				key: token
				locale: locale
				message: message
				updatedAt: updatedAt
	</code>
</pre>
<p>Where you specify the table column names</p>
