{block content}

<div class="nav nav-tabs tabControl camel-case">
    <a class="active show" data-toggle="tab" href="#list-entities">{$presenter->translate('general.view')}</a>
    <a data-toggle="tab" href="#tab-add-entity">{$presenter->translate('general.add')}</a>
</div>

<div class="tab-content">
    <div id="list-entities" class="tab-pane fade active show">
        {include "./includes/viewEntities.latte"}
    </div>
    <div id="tab-add-entity" class="tab-pane fade">
        {include "./includes/addEditForm.latte"}
    </div>
</div>
