{*get only the blocks from the file*}
{import 'includes/header.latte'}

<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

		{*scripts / css*}
		{include 'includes/header.latte'}

    <title>Nette template project</title>

    {*bootstrap*}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{$basePath}/assets/css/lib/bootstrap.min.css">
    <script src="{$basePath}/assets/js/lib/jquery3.3.1.min.js"></script>
    <script src="{$basePath}/assets/js/lib/popper.min.js"></script>
    <script src="{$basePath}/assets/js/lib/bootstrap.min.js"></script>
    {*/bootstrap*}

    <link rel="stylesheet" type="text/css" href="{$basePath}/assets/css/style.min.css?random={$cssVersionSlug}">
    <link rel="stylesheet" type="text/css" href="{$basePath}/assets/css/messages.css?random={$cssVersionSlug}">

    <!-- js -->
  </head>
  <body>
    <!-- flash messages-->
    {foreach $flashes as $flash}
      <div class="message_{$flash->type}">{$flash->message}
        <span class="message_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    {/foreach}
    <!--content -->
    <div class="page-container">
        <div class="page-container-inner">
            {if isset($currentPageTitle)}
                <h1 class="mx-auto d-inline-block">{$currentPageTitle}</h1>
            {/if}
            {block content}
            {/block}
        </div>
    </div>
    {include './includes/footer.latte'}
  </body>
</html>
