.message_info, .message_success, .message_warning, .message_error, .message_validation {
  border: 2.5px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  opacity: 0.75;
}
.message_info {
  color: #00529A;
  background-color: #BDE5F8;
}
.message_warning a, .message_success a, .message_warning a, .message_error a, .message_validation a {
color: #000;
}
.message_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.message_warning {
color: #9F6000;
background-color: #FEEFB3;
}
.message_error {
color: #D8000C;
background-color: #FFBABA;
}
.message_closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.message_closebtn:hover {
    color: white;
}
.message_info:hover, .message_success:hover, .message_warning:hover, .message_error:hover, .message_validation:hover {
  opacity: 1;
}
