.dropdown-menu {
    background-color: #000;
}
.dropdown-menu a {
    color: #fff;
    background-color: #000;
}
.navbar a{
  font-size: 1rem;
  letter-spacing: 0.04em;
  font-family: "cinzel";
  display: block;
  color: #ad0202;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}
.navbar a:hover{
  color: #7e0000;
  text-shadow: 0 1px 1px rgba(0,0,0,0.50);
}
.navbar a:hover::after{
  color: #fff;
}
.navbar a::after{
  color: #cbcbcb;
}
.navbar-brand{
  padding-bottom: 0;
  padding-top: 0;
}
nav{
  background-color: #000;
}
nav .dropdown-item:active {
  background-color: rgba(255,255,255,0.90);
}

.play-button{
  background-color: #d22730;
  color: #fff !important;
}
.play-button:hover{
  background-color: #a41920;
  color: #e9e9e9 !important;
}

/** sub navbar **/
.sub-nav{
  background-color: rgb(40,40,40);
  padding-left: 12px;
  margin-bottom: 21px;
  border: 1px solid rgb(60, 55, 55);
}
.sub-nav .active{
  border-bottom: 3px solid rgb(210, 39, 48);
}
.sub-nav a{
  color: #e7e7e7;
  margin-right: 32px;
  padding-top: 16px;
  font-size: 14px;
  padding-bottom: 16px;
  text-decoration: none;
}
.sub-nav a:hover{
  border-bottom: 3px solid;
  color: white;
}
