<div class="footer-legal">
    <div class="row -lang">
        {include './language.latte'}
    </div>
    <div class="row -version">
        <div class="mx-auto">
            <small class="mx-auto">version
                <b>{$VERSION}</b>, branch: master
            </small>
        </div>
    </div>
    <br>
    <div class="row -legal">
        <div class="d-inline-block mx-auto camel-case">
            template project created by
              <a href="{$pageUrl}">{$creatorName}</a>
        </div>
    </div>
    <div class="row footer-legal">
        <small class="mx-auto">{$pageTitle} - 2018 -
          <a href="#">
            terms
          </a>
          &
          <a href="#">
            privacy
          </a>
        </small>
    </div>
</div>
