<div class="mx-auto d-inline-block">
  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {if $presenter->locale === 'es'}
        Español
      {else}
        English
      {/if}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {* here, use control, adn create it in presenter, and reffer to the ConstModel::LANGS*}
      <a class="dropdown-item" n:href="this, locale => en">English</a>
      <a class="dropdown-item" n:href="this, locale => es">Español</a>
    </div>
  </div>
</div>
