{block content}

<p>List of users</p>

{form addForm}
  {label username}
  {input username}
  {label email}
  {input email}

  {input submit}
{/form}

{for $i = 0; $i < count($daos); $i++}
    {php $dao = $daos[$i]}
    <p>{$dao->username} - {$dao->email}</p>
    <a n:href="delete, $dao->id">delete</a>
{/for}
